{% extends 'base_profe.html' %}

{% block title %}Página de Inicio{% endblock %}

{% block content %}
    <h2>Bienvenido a mi sitio web!</h2>
    <p>Este es el contenido de la página de inicio.</p>

    {%for inmueble in inmuebles%}
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{inmueble.imagen.url}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{inmueble.nombre}}</h5>
          <p class="card-text">{{inmueble.descripcion}}</p>
          <a href="{% url 'detalle_inmueble' inmueble.id %}" class="btn btn-primary">Ver detalle</a>
        </div>
      </div>
    {%endfor%}

{% endblock %}