{% extends 'base.html' %}

{% block title %}Ingresar inmueble{% endblock %}

{% block content %}
<section id="editar-inmueble" class="container p-5 border rounded mb-5">
  <div style="background-color: #f4f5f7;">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-6 mb-4 mb-lg-0">
          <div class="card mb-3" style="border-radius: .5rem;">
            <div class="card-body p-4">
              <h6 class='bg-custom-perfil text-white text-center'>Ingresar Inmueble</h6>
              <hr class="mt-0 mb-4">
              <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="d-flex justify-content-center mt-4">
                  <button type="submit" class="btn btn-custom" style="margin-right: 10px;">Ingresar</button>
                  <a class="btn btn-secondary" onclick="window.history.back()">Volver</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
